html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#logo {
  color: #0070b8;
  text-decoration: none;
}

#navbar {
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

ul {
  list-style: none;
}

.nav-item {
  color: white;
  padding: 1em 1em 0 1em;
  text-decoration: none;
}

.main {
  margin-top: 8%;
}
