html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 16px;
  color: inherit;
}

.nav-item {
  float: right;
  color: white;
}

#logo {
  color: #0070b8;
  font-size: 30px;
}

#welcome-background {
  height: 100%;
  opacity: 0.6;
  position: absolute;
}
