/* Base styles (_base.scss) */

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: #1F1A44;
  text-align: center;
  color: $white;
  border: none;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #1E1A44);
  z-index: 1;

  &:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url(../images/welcome-fire-background.jpg) no-repeat center center;
    opacity: 0.4;
    z-index: -1
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 1rem;
  color: inherit;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: $aqua;
}

h2 {
  color: $white;
  font-size: 2rem;
  margin-top: 0.2rem;
}

h3 {
  color: $aqua;
}

h4 {
  color: $yellow;
}

button {
  background-color: $yellow;
  color: $slate;
  border: 2px inset $slate;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  padding: 0.5rem;
}

/*
button {
  border: none;
  background-color: inherit;
  color: $white;
  font-family: inherit;
  padding: 0.5rem;
  margin: 0 -3px;
  &:hover {
    font-weight: bold;
  }
  &:focus {
    outline: none;
  }
}
*/

footer {
  background-color: black;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 2.3rem;
    padding: 0.5rem;
  }
}