/* Layout styles (_base.scss) */

.flex-cont-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-tile {
  opacity: 0;
  width: 0;
  height: 0;
}

.l-content-section {
  background-color: $slate;
  width: 90vw;
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 1rem;
}