/* Profile section styles (_profile.scss) */

.profile-content {
  background-color: $slate;
  width: 90vw;
  border-radius: 2rem;
  display: flex;
  margin: 2rem auto;
  button {
    background-color: $aqua;
    color: $slate;
    border: 2px inset $slate;
    border-radius: 5px;
    font-weight: bold;
  }
  #education {
    flex: 1 0 35%;
  }
  div {
    padding: 0.8rem 1.4rem;
  }
}