/* Skill tabs module styles (_skilltabs.scss) */

.skill-icons {
  background-color: $slate;
  max-width: 90vw;
  border-radius: 2rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  .skill-icons__display > div{
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      width: 5rem;
      padding: 0.5rem;
      display: none;
    }
  }
  .skill-icons__buttons {
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    button {
      border-top: 0.01rem solid $yellow;
      transition: all 0.25s;
      width: (80% / 4);
      &:hover {
        background-color: $yellow;
        color: $slate;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}