/* Skill tabs module styles (_skilltabs.scss) */

.skill-icons {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  transition: all 0.25s;
  img {
    width: 5rem;
    padding: 0.8rem;
  }
    a {
      padding: 0.5rem;
      transition: all 0.25s;
      width: (70% / 4);
      &:hover {
        background-color: $yellow;
        color: $slate;
        font-weight: bold;
      }
    }
}