/* Welcome section styles (_welcome.scss) */

.welcome-banner {

  flex-direction: column;

  width: 100%;
  
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
  z-index: 2;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8), transparent);
  min-height: 2.5rem;

  img {
    height: 2.3rem;
    padding: 0 0.5rem;
  }
}