/* Welcome section styles (_welcome.scss) */

.welcome-banner {
  flex-direction: column;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 40%;
  padding-top: 1rem;
  z-index: 1;
}

.social-icons {
  background: linear-gradient(to right, transparent, black, transparent);
  min-height: 3.5rem;

  img {
    height: 2.3rem;
    padding: 0 0.5rem;
  }
}