$white: #FDFFF7;
$aqua: #59FFA0;
$yellow: #FFED65;
$slate: #1E1E1D;
$icon-purple: #7063CC;
$indigo: #151230;
$dark-indigo: darken($indigo, 4%);

@import "./base/reset";
@import "./base/_typography";
@import "./utilities/_mixins";
@import "./font-awesome/font-awesome";

/* Styles for _base.scss */

*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

body {
    background: url("../images/temple.svg") repeat, $indigo;
    overflow-x: hidden;
    color: $white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    background: $dark-indigo;
    text-align: center;
}

/* Styles for _layout.scss */

.l-content-section {
    background: $slate;
    border-radius: 10px;
    margin: 2rem 3.5rem;
    padding: 1rem;
    text-align: center;
}

.l-icon-labeled {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    * {
        padding: 0.5rem;
    }
}

@import "./layout/_grid";

/* Styles for _nav.scss */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: $dark-indigo;
    top: 0;
    height: 2.5rem;
    width: 100%;
    border-bottom: 1px solid $icon-purple;
    overflow: hidden;
    z-index: 10;
    img {
        max-height: 2.3rem;
        padding: 0 1rem;
        top: 0;
        left: 0;
    }
}

#nav-menu {
    position: relative;
    height: 100%;
    @include flex-cent-r;
    #nav-links {
        @include flex-cent-r;
        max-width: none;
        list-style: none;
        overflow: hidden;
        transition: max-width 0.5s;
        li a {
            padding: 1rem;
            color: $white;
            &:hover, :active {
                color: $aqua;
            }        
        }
    }

    // Mobile menu toggle button
    .nav-menu-toggle {
        display: none;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 0.2rem;
        span {
            background: $white;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
            user-select: none;
            &::before, &::after {
                background: $white;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .5s ease-out;
                width: 100%;
            }
            &::before {
                top: 5px;
            }
            &::after {
                top: -5px;
            }
        }
        span .toggled-on {
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

@include sm {
    #nav-menu {
        #nav-links {
            max-width: 0;
            position: absolute;
            right: 3rem;
        }
        .nav-menu-toggle {
            display: inline-block;
        }
    }
}

@include xs {
    header img {
        opacity: 0;
    }
}

/* Styles for _social.scss */

.social-icons {
    @include flex-cent-c;
    background: $dark-indigo;
    position: fixed;
    right: 0;
    top: 35vh;
    padding: 0 0.5rem;
    border: 1px solid $icon-purple;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 10;
    transition: max-height 0.5s;
    i {
        flex: 1;
        transition: transform 0.3s;
        font-size: 1.5rem;
        padding: 0.7rem 0;
        color: $icon-purple;
        &:hover, :active {
            color: $white;
            transform: scale(1.1);
        }
    }
}

.col-expanded {
    max-height: none !important;
}

.row-expanded {
    max-width: none !important;
}

@include sm {
    .social-icons {
        top: 2.45rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top: none;
        max-height: 0;
        overflow: hidden;
    }
}

/* Styles for _welcome.scss */

#welcome-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 11rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
    grid-row: 4 / 7;
    grid-column: 1 / 12;
}

.welcome-background {
    grid-row: 1 / 9;
    grid-column: 1 / 13;
    background: $indigo url(../images/welcome-fire-background.jpg) no-repeat left center/cover fixed;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}

/* Styles for _profile.scss */

.visible-tile {
    transform: translateY(-7rem);
}

.tab-active {
  background-color: $yellow !important;
  color: $slate;
  font-weight: bold;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    max-height: 11.5rem;
}

.top-box {
    height: 7rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 7rem);
    align-items: start;
}

.tech-section {
    @include flex-cent-r;
    grid-row-start: 2;
    grid-column: 1;
    transition: transform 0.5s ease-in-out;
    img {
        width: 5.3rem;
        padding: 0.5rem 0.8rem 0 0.8rem;
    }
}

@include sm {
    .tech-section {
        overflow-x: scroll;
    }
}

// Do this with flex instead, go down to 2 and scale down
.skill-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        @include flex-cent-r;
        flex: 1;
        text-align: center;
        padding: 1rem;
        height: 2rem;
        border-top: 1px solid $yellow;
        background: $slate;
        z-index: 3;
        &:hover {
            transition: background 0.5s;
            background: lighten($slate, 4%);
            cursor: pointer;
        }
    }
}

.profile-content {
    display: flex;
    p {
        padding: 0 2rem;
        text-align: left;
    }
    &:first-child {
        flex-basis: 2;
    }
    &:nth-child(2) {
        flex-basis: 3;
    }
    button {
        border: 1px solid $aqua;
        background: inherit;
        color: $white;
        border-radius: 5px;
        padding: 0.4rem 1rem;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.1);
            font-weight: bold;
            cursor: pointer;
            background: $aqua;
            color: $slate;
        }
    }
}

@include md {
    .profile-content {
        flex-direction: column;
    }
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 85vh;
    padding: 0 1rem;
    overflow: hidden;
}

.tab-wrapper {
    position: relative;
    @include flex-cent-c;
}

.project-tabs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    height: 4rem;
    .tab-toggle {
        background: transparent;
        border: none;
        border-bottom: 1px solid $yellow;
        color: $white;
        text-align: center;
        font-size: 1.4rem;
        width: 15rem;
        padding: 0.5rem;
    }
    h2 {
        text-shadow: 2px 2px $icon-purple;
        padding: 0.5rem;
    }
}

.tab-expand {
    display: none;
    position: absolute;
    z-index: 8;
    overflow: hidden;
    text-align: left;
    width: 15rem;
    box-shadow: 4px 4px lighten($slate, 20%);
    li {
        padding: 0.5rem;
        background: $slate;
        border-left: 1px solid $yellow;
        &:hover {
            background: $yellow;
            color: $slate;
        }
    }
}

#live-menu, #wip-menu {
    &:target {
        display: block;
    }
}

.project-carousel {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0;
}

#tile-1 .project-thumb {
    background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#tile-2 .project-thumb {
    background-image: url('../images/thumbnails/quotethumb.JPG');
}

#tile-3 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-4 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-5 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-6 .project-thumb {
    background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#tile-7 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-8 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-9 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-10 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-11 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#tile-12 .project-thumb {
    background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-tile {
    opacity: 0;
    position: absolute;
    background: $indigo;
    transition: opacity 1s;
    .project-thumb {
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 1rem;
    }
    .project-links {
        @include flex-cent-r;
        & > a {
            display: flex;
            justify-content: center;
            color: $white;
            &:hover {
                color: $yellow;
            }
        }
    }
    .project-tech {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        span {
            color: $aqua;
            font-weight: bold;
            padding: 0.5rem;
        }
    }
    .project-desc {
        background: $slate;
        margin: 1rem;
        padding: 1rem;
        bottom: 0;
        right: 0;
        p {
            text-align: justify;
            text-indent: 3rem;
        }
    }
}

.project-active {
    opacity: 1;
}

.menu-open {
    display: flex;
    flex-direction: column;
}

#contact {
    max-height: 80vh;
    .portrait-pic {
        max-height: 15rem;
    }
    .mn-map {
        max-height: 13rem;
    }
}

.contact-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    font-size: 1.2rem;
    a {
        width: 15rem;
        transition: all 1s;
        .fa-github {
            color: #2dba4e;
            &:hover {
                color: $slate;
            }
        }
        &:hover {
            border-left: 3px solid $yellow;
            background: #2dba4e;
            color: $slate;
        }
    }
}

.email-button {
    align-self: center;
    justify-self: center;
    button {
        background: transparent;
        color: $white;
        border: 1px solid $aqua;
        border-radius: 5px;
    }
}