div(class="email-form flex-cont-centered l-content-section")
    h2 It would be my pleasure to discuss making your next project incredible!
    a(href="mailto: jchritton33@gmail.com")
        button(type="submit" value="send") Contact Me