header
    nav.navbar
        a(href="#")
            img.navbar__logo(src="./images/logodragonlong.svg")
        ul.nav-links
            li
                a(href="#welcome") Home
            li
                a(href="#profile") Profile
            li
                a(href="#projects") Projects
            li
                a(href="#contact") Contact
