div.profile-content
    div.education
        h3.profile-content__heading Education
        h4 University of Wisconsin - Green Bay
        p.profile-content__text
            em B.A. -- Psychology, Social Change and Development, History
        p.profile-content__text Member of first place team for competition presenting analysis of designed experiment test group, member of Psi Chi Honors Society, Section editor for school newspaper “The Fourth Estate,” Staff member for Sheepshead Review writing journal, Key contributor and organizer for three extracurricular clubs, Volunteer provider of technical support for campus library.
        h4 Completed Courses
        p.profile-content__text
            em CS50: Introduction to Computer Science -- Harvard University
        p.profile-content__text Full online version of Harvard course through edx.org, working through projects in C, Python, and JavaScript.
    div
        h3.profile-content__heading Profile and Direction
        p.profile-content__text I am very excited to bring my vision and passion to life through detailed and responsive web development projects aimed to inspire. My background in psychology and gift for creating simple yet pleasurable user experiences brings a unique approach to applications.
        p.profile-content__text Currently I am refining my abilities with HTML, CSS, and JavaScript, with the eventual goal of mastering React and React Native to allow a fully immersive user experience no matter what their platform.
        p.profile-content__text I would be glad to make your goal my goal. Let's partner to make your project the solution you deserve!
        button Resume