div.skill-icons
    h3 Skills and Technologies
    div.skill-icons__display
        div(class="tech-section web-dev")
            img.tech-section__icon(src="./images/htmlicon.svg")
            img.tech-section__icon(src="./images/css3icon.svg")
            img.tech-section__icon(src="./images/reacticon.svg")
            img.tech-section__icon(src="./images/jqueryicon.svg")
            img.tech-section__icon(src="./images/bootstrapicon.svg")
            img.tech-section__icon(src="./images/sassicon.svg")
        div(class="tech-section core-lang")
            img.tech-section__icon(src="./images/cicon.svg")
            img.tech-section__icon(src="./images/jsicon.svg")
            img.tech-section__icon(src="./images/javaicon.svg")
            img.tech-section__icon(src="./images/pythonicon.svg")
        div(class="tech-section db-server")
            img.tech-section__icon(src="./images/nodejsicon.svg")
            img.tech-section__icon(src="./images/expressicon.svg")
            img.tech-section__icon(src="./images/mongodbicon.svg")
            img.tech-section__icon(src="./images/mysqlicon.svg")
            img.tech-section__icon(src="./images/postgresqlicon.svg")
            img.tech-section__icon(src="./images/sasicon.svg")
        div(class="tech-section tools")
            img.tech-section__icon(src="./images/giticon.svg")
            img.tech-section__icon(src="./images/npmicon.svg")
            img.tech-section__icon(src="./images/mochaicon.svg")
            img.tech-section__icon(src="./images/gulpicon.svg")
            img.tech-section__icon(src="./images/linuxicon.svg")
    div.skill-icons__buttons
        button.web-dev Web Development
        button.core-lang Core Languages
        button.db-server Database and Server
        button.tools Other tools