div.welcome-banner
    h1 John Chritton
    h2 {Full stack software developer}
    div.social-icons
        a(href="https://github.com/JaxomofRuatha")
            img.social-icons__link(src="./images/githubicon.svg")
        a(href="https://www.linkedin.com/in/john-w-chritton/")
            img.social-icons__link(src="./images/linkedinicon.svg")
        a(href="https://twitter.com/jaxwhitedragon")
            img.social-icons__link(src="./images/twittericon.svg")
        a#profile-link(href="https://www.freecodecamp.com/jaxomofruatha")
            img.social-icons__link(src="./images/fccicon.svg")