div(class="welcome-banner flex-cont-centered")
    div
        h1 John Chritton
        h2 {Full stack software developer}
    div.social-icons
        a(href="https://github.com/JaxomofRuatha")
            img(src="./images/githubicon.svg")
        a(href="https://www.linkedin.com/in/john-w-chritton/")
            img(src="./images/linkedinicon.svg")
        a(href="https://twitter.com/jaxwhitedragon")
            img(src="./images/twittericon.svg")
        a#profile-link(href="https://www.freecodecamp.com/jaxomofruatha")
            img(src="./images/fccicon.svg")