*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  background: url('../images/temple.svg') repeat, $indigo;
  color: $white;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

footer {
  background: $dark-indigo;
  text-align: center;
}

input[type='checkbox'] {
  display: none;
}
