/*
*    Default base styles for elements
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background: url("../images/temple.svg") repeat, $indigo;
  color: $white;
}

a {
  color: $white;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}
