/*
*    Styles for text on page
*/

body {
  font-family: 'Lato', sans-serif;
  line-height: 130%;
}

p {
  text-align: left;
}

.section-heading {
  color: $aqua;
  font-size: 1.4rem;
}

.section-subheading {
  color: $yellow;
  font-size: 1.1rem;
}
