@charset "utf-8";

$white: #fdfff7;
$aqua: #59ffa0;
$yellow: #ffed65;
$slate: #1e1e1d;
$icon-purple: #7063cc;
$indigo: #151230;
$dark-indigo: darken($indigo, 4%);
$dark-glass: rgba(10, 10, 10, 0.4);

@import './base/reset';
@import './base/typography';
@import './util/mixins';
@import './layout/grid';
@import './base/base';

.l-content-section {
  background: $slate;
  border-radius: 10px;
  margin: 2rem 3.5rem;
  padding: 1rem;
  text-align: center;
}

@import './modules/navbar';
@import './modules/socialicons';
@import './modules/welcome';
@import './modules/skilltabs';
@import './modules/profile';
@import './modules/projects-container';
@import './modules/project-tile';
@import './modules/contact';
