@charset "utf-8";

@import './util/variables';

@import './base/reset';
@import './base/typography';
@import './util/mixins';
@import './base/base';
@import './layout/grid';

.l-content-section {
  background: $slate;
  border-radius: $radius;
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;

  @include mobile-break {
    margin: 3rem;
  }
}

@import './components/navbar';
@import './components/socialside';
@import './modules/welcome';
@import './components/title-banner';
@import './modules/skills';
@import './components/skills-group';
@import './modules/profile';
@import './modules/projects';
@import './components/projects-tile';
@import './modules/contact';
@import './components/socialbot';
@import './components/footer';
