$white: #FDFFF7;
$aqua: #59FFA0;
$yellow: #FFED65;
$slate: #1E1E1D;
$icon-purple: #7063CC;
$indigo: #151230;
$dark-indigo: darken($indigo, 4%);

@import "./partials/_reset";
@import "./partials/_typography";
@import "./utilities/_mixins";
@import "./font-awesome/font-awesome";
@import "./partials/_base";

.l-content-section {
    background: $slate;
    border-radius: 10px;
    margin: 2rem 3.5rem;
    padding: 1rem;
    text-align: center;
}

.l-icon-labeled {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    * {
        padding: 0.5rem;
    }
}

@import "./layout/_grid";
@import "./modules/_navbar";
@import "./modules/_socialicons";
@import "./modules/_welcome";
@import "./modules/_skilltabs";
@import "./modules/_projects-container";
@import "./modules/_project-tile";
@import "./modules/_contact";