{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": ["stylelint-selector-bem-pattern"],
  "rules": {
    "at-rule-whitelist": [
      "include",
      "import",
      "charset",
      "mixin",
      "media",
      "content"
    ],
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "implicitComponents": true
    }
  }
}
