h1(class="section-heading contact-info__title") Get in Contact
img(class="contact-info__portrait" src="./images/portrait-pic.jpg")
p(class="contact-info__query") I would love to hear from you, whether to hire me or just to connect. Reach out to me any time, and I look forward to learning through collaboration!
include ../components/_socialbot.pug