article(class="l-content-section profile-info")
    nav(class="profile-info__menu")
        a(class="profile-info__tab profile-info__tab--active" data-target="summary" data-label="Profile")
            i(class="fas fa-address-card fa-2x fa-fw")
        a(class="profile-info__tab" data-target="education" data-label="Education")
            i(class="fas fa-book fa-2x fa-fw")
        a(class="profile-info__tab" data-target="goals" data-label="Goals")
            i(class="fas fa-chart-line fa-2x fa-fw")
        a(class="profile-info__tab" data-target="interests" data-label="Interests")
            i(class="fas fa-heartbeat fa-2x fa-fw")
        a(class="profile-info__tab" href="../docs/John_Chritton_Resume.pdf" data-label="Resume")
            i(class="fas fa-file-pdf fa-2x fa-fw")
    section(class="profile-info__content profile-info__content--visible" id="summary")
        h1.section-heading Profile and Direction
        p I am very excited to bring my vision and passion to life through detailed and responsive web development projects aimed to inspire. My background in psychology and gift for creating simple yet pleasurable user experiences brings a unique approach to applications.
        p I have intentionally varied my utilization of frameworks and tools to better understand the best technology for each situation. My primary focus has been on React and Redux, with related libraries. I am working to master React Native currently to allow a fully immersive user experience no matter what their platform.
        p I would be glad to make your goal my goal. Let's partner to make your project the solution you deserve!
    section(class="profile-info__content" id="education")
        h1.section-heading Education
        h2.section-subheading University of Wisconsin - Green Bay
        p
            em B.A. -- Psychology, Social Change and Development, History
        h2.section-subheading Coursework
        p
            em CS50: Introduction to Computer Science -- Harvard University
        p Full online version of Harvard course through edx.org, working through projects in C, Python, and JavaScript.
    section(class="profile-info__content" id="goals")
        h1.section-heading Goals
    section(class="profile-info__content" id="interests")
        h1.section-heading Interests