header.navbar
    img(class="navbar__logo" src="./images/logodragonlong.svg")
    nav(class="navbar__menu")
        input(id="navbar__mobile" type="checkbox")
        label(for="navbar__mobile" class="navbar__toggle")
            i(class="fas fa-bars")
        ul(class="navbar__links")
            li
                a(href="#welcome-section" class="navbar__anchor") Home
            li
                a(href="#profile" class="navbar__anchor") Profile
            li
                a(href="#projects" class="navbar__anchor") Projects
            li
                a(href="#contact" class="navbar__anchor") Contact
        include ./_socialicons.pug