header.navbar
    img(class="logo" src="./images/logodragonlong.svg")
    nav(class="navbar-menu")
        input(id="navbar-mobile" type="checkbox")
        label(for="navbar-mobile" class="navbar-menu-toggle")
            span
        ul(class="navbar-links")
            li
                a(href="#welcome-section") Home
            li
                a(href="#profile") Profile
            li
                a(href="#projects") Projects
            li
                a(href="#contact") Contact
        include ./_socialicons.pug