header.navbar
    img(class="navbar__logo" src="./images/logodragonlong.svg")
    nav(class="navbar__menu")
        input(id="navbar__mobile" type="checkbox")
        label(for="navbar__mobile" class="navbar__toggle")
            span
        ul(class="navbar__links")
            li
                a(href="#welcome-section") Home
            li
                a(href="#profile") Profile
            li
                a(href="#projects") Projects
            li
                a(href="#contact") Contact
        include ./_socialicons.pug