article(class="project-view")
    header(class="project-view__tabs")
        nav(class="project-view__nav")
            input(id="live-menu" type="checkbox")
            label(for="live-menu" class="project-view__toggle") Live Projects
            ul(class="project-view__menu")
                li
                    a(data-target="live-1") Portfolio
                li
                    a(data-target="live-2") React Quote Machine
                li
                    a(data-target="live-3") React Forecast
                li
                    a(data-target="live-4") Express Microservices
                li
                    a(data-target="live-5") React .md Previewer
                li
                    a(data-target="live-6") Redux Wikipedia Viewer
                li
                    a(data-target="live-7") Speller
        h1(class="project-view__title") Portfolio
        nav(class="project-view__nav")
            input(id="wip-menu" type="checkbox")
            label(for="wip-menu" class="project-view__toggle") In Development
            ul(class="project-view__menu")
                li
                    a(data-target="wip-1") Bmore Around Town
                li
                    a(data-target="wip-2") Twitch Dashboard
                li
                    a(data-target="wip-3") Bikeshare Mapper
                li
                    a(data-target="wip-4") React Recipe Box
                li
                    a(data-target="wip-5") JavaScript Calculator
                li
                    a(data-target="wip-6") Freeform Vote
    section(class="project-view__tile project-view__tile--active" data-group="live-1")
        figure(class="project-view__thumb" data-group="live-1")
        div.project-view__desc
            span Status: First iteration complete and functional
            p This page started as part of the front end projects for Free Code Camp, but ended up serving the dual purpose of being a hub for showing the work that I've done and allowing exploration of several ways of accomplishing the display and interaction I wanted. While I could have stayed with React, I chose to work with core JavaScript and ES6, including a Gulp build process, to refine my interactions with the DOM.
            p Originally I used purely flexbox, but the current version is partially including CSS Grid for layouts. Going forward, I would like to incorporate Grid more, as well as more interactive elements. Naturally, additional projects and writing will be my highest priority.
    nav(data-group="live-1" class="project-view__links project-view__links--active")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/Portfolio") Code
        a(class="project-view__demo" href="https://jaxomofruatha.github.io/Portfolio") Demo
    footer(data-group="live-1" class="project-view__tech project-view__tech--active")
        span JavaScript
        span Pug
        span CSS Grid
        span SCSS
        span NPM Scripts

    section(class="project-view__tile" data-group="live-2")
        figure(class="project-view__thumb" data-group="live-2")
        div.project-view__desc
            span Status: First iteration complete and functional
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Random Quote Machine." I chose to make this open-ended project my introduction to using the React framework
    nav(class="project-view__links" data-group="live-2")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/fcc-quote") Code
        a(class="project-view__code" href="https://jaxomofruatha.github.io/fcc-quote/") Demo
    footer(class="project-view__tech" data-group="live-2")
        span React
        span styled-components
        span REST API/AJAX

    section(class="project-view__tile" data-group="live-3")
        figure(class="project-view__thumb" data-group="live-3")
        div.project-view__desc
            span Status: First functional version after multiple feature updates.
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Random Quote Machine." I chose to make this open-ended project my introduction to using the React framework 
    nav(class="project-view__links" data-group="live-3")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/fcc-weather") Code
        a(class="project-view__code" href="https://jaxomofruatha.github.io/fcc-weather/") Demo
    footer(class="project-view__tech" data-group="live-3")
        span React
        span react-router
        span REST API/AJAX
        span SCSS

    section(class="project-view__tile" data-group="live-4")
        figure(class="project-view__thumb" data-group="live-4")
        div.project-view__desc
            span Status: First iterations complete and functional
            p Six microservice Express applications that fulfill the user stories from the back end projects for Free Code Camp. The given examples and specifications only utilize URL parameters as the method of accessing the endpoint, but I also added a form in the view using the templating engine Pug for each microservice.
            p The next refinement will be combining the UI from each microservice into one while still allowing access to each endpoint as an individual microservice API.
    nav(class="project-view__links" data-group="live-4")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="live-4")
        span JavaScript
        span Node
        span Express
        span MongoDB
        span Pug

    section(class="project-view__tile" data-group="live-5")
        figure(class="project-view__thumb" data-group="live-5")
        div.project-view__desc
            span Status: First iteration complete and functional
            p The last project in Harvard CS50 done with C, this program takes a dictionary, creates a trie from the data, and allows spell checking text documents against the provided dictionary.
    nav(class="project-view__links" data-group="live-5")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/fcc-markdown") Code
        a(class="project-view__code" href="https://jaxomofruatha.github.io/fcc-markdown/") Demo
    footer(class="project-view__tech" data-group="live-5")
        span React
        span SCSS
        span npm
    
    section(class="project-view__tile" data-group="live-6")
        figure(class="project-view__thumb" data-group="live-6")
        div.project-view__desc
            span Status: First iteration complete and functional
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Wikipedia Viewer." To make this more educational, I used it as my introduction to Immutable.js, using it in combination with redux-thunk and React Router.
    nav(class="project-view__links" data-group="live-6")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/fcc-wikiviewer") Code
        a(class="project-view__code" href="https://jaxomofruatha.github.io/fcc-wikiviewer") Demo
    footer(class="project-view__tech" data-group="live-6")
        span React
        span Redux
        span redux-thunk
        span REST API/AJAX

    section(class="project-view__tile" data-group="live-7")
        figure(class="project-view__thumb" data-group="live-7")
        div.project-view__desc
            span Status: First iteration complete and functional
            p The last project in Harvard CS50 done with C, this program takes a dictionary, creates a trie from the data, and allows spell checking text documents against the provided dictionary.
    nav(class="project-view__links" data-group="live-7")
        a(class="project-view__code" href="https://github.com/JaxomofRuatha/CS50/tree/master/pset5/speller") Code
    footer(class="project-view__tech" data-group="live-7")
        span C
        span Data Structures
        span Algorithms

    section(class="project-view__tile" data-group="wip-1")
        figure(class="project-view__thumb" data-group="wip-1")
        div.project-view__desc
            span Status: API and database complete, UI in review process
            p A complete rewrite of the production website bmorearoundtown.com, which currently uses jQuery, PHP, and a legacy version of MySQL. This infrastructure is no longer sufficient to support the growth of the site. I was brought in with one other developer to transition the build to React/Redux, Node with Express, and the latest version of MySQL.
            p I architected the database and API to serve the same expected data as the legacy interface (to preserve backwards compatibility until updated), but with the entirely reconstructed code. At this point the senior developer overseeing the project is completing code review, and my next contribution will be finishing the React/Redux user interface.
    nav(class="project-view__links" data-group="wip-1")
        a(class="project-view__code" href="http://bmorearoundtown.com/") Demo
    footer(class="project-view__tech" data-group="wip-1")
        span Node
        span Express
        span MySQL
        span Sequelize
        span React/Redux

    section(class="project-view__tile" data-group="wip-2")
        figure(class="project-view__thumb" data-group="wip-2")
        div.project-view__desc
            span Status: In progress, partially built with 3 now-dissolved teams
            p This full-stack application was created to take part in a contest put forth by a senior developer and streamer to emulate real team collaboration using a workflow focused on Git and Trello.
    nav(class="project-view__links" data-group="wip-2")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="wip-2")
        span React
        span Redux
        span Node
        span Express
        span MongoDB

    section(class="project-view__tile" data-group="wip-3")
        figure(class="project-view__thumb" data-group="wip-3")
        div.project-view__desc
            span Status: In progress, partially built with 3 now-dissolved teams
            p This full-stack application was created to take part in a contest put forth by a senior developer and streamer to emulate real team collaboration using a workflow focused on Git and Trello.
    nav(class="project-view__links" data-group="wip-3")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="wip-3")
        span React
        span Redux
        span Node
        span Express
        span MongoDB

    section(class="project-view__tile" data-group="wip-4")
        figure(class="project-view__thumb" data-group="wip-4")
        div.project-view__desc
            span Status: First iteration complete and functional
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Random Quote Machine." I chose to make this open-ended project my introduction to using the React framework
    nav(class="project-view__links" data-group="wip-4")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="wip-4")
        span React
        span styled-components
        span REST API/AJAX

    section(class="project-view__tile" data-group="wip-5")
        figure(class="project-view__thumb" data-group="wip-5")
        div.project-view__desc
            span Status: First iteration complete and functional
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Random Quote Machine." I chose to make this open-ended project my introduction to using the React framework  
    nav(class="project-view__links" data-group="wip-5")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="wip-5")
        span React
        span styled-components
        span REST API/AJAX

    section(class="project-view__tile" data-group="wip-6")
        figure(class="project-view__thumb")
        div.project-view__desc
            span Status: In progress
            p The very basic seed of this project came from the Free Code Camp back end project to "Build a Voting App." What I chose to do with it is put into use every technology and tool I have learned, and create a much more interesting and versatile end product.
    nav(class="project-view__links" data-group="wip-6")
        a(class="project-view__code" href="#") Code
        a(class="project-view__code" href="#") Demo
    footer(class="project-view__tech" data-group="wip-6")
        span React/Redux
        span Express
        span MongoDB
        span Docker
        span Webpack
                                              