- var skillIcons = viewData.skillIcons;

article(class="l-content-section skills")
  h1.section-heading Skills and Technologies
  div.skills__view
    each skills, i in skillIcons
        section(class=(i === 0 ? "skills__group skills__group--visible" : "skills__group") id=skills.group)
            each icon in skills.icons
                img(class="skills__icon" src=icon)
  nav(class="skills__menu")
      a(class="skills__tab skills__tab--active" data-target="web-dev") Web Development
      a(class="skills__tab" data-target="core-lang") Core Languages
      a(class="skills__tab" data-target="db-server") Database and Server
      a(class="skills__tab" data-target="tools") Other Tools