doctype html
html(lang="en")
    head
        title Portfolio - John Chritton

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="The software development portfolio of John Chritton")

        link(rel="icon" type="image/x-icon" href="./images/favicon.ico")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    body
        include ./components/_navbar.pug
        section#welcome-section.welcome
            include ./components/_title-banner.pug
        section#profile
            include ./modules/_skills.pug
            include ./modules/_profile.pug
        section#projects(class="l-content-section projects")
            include ./modules/_projects.pug
        section#contact(class="l-content-section contact-info")
            include ./modules/_contact.pug
        include ./components/_footer.pug
        script(type="text/javascript" src="js/bundle.js")