doctype html
html(lang="en")
    head
        title Portfolio - John Chritton

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="The software development portfolio of John Chritton")

        link(rel="icon" type="image/x-icon" href="./images/favicon.ico")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    body
        include ./_navbar.pug
        include ./_welcome.pug
        section#profile
            include ./_skills.pug
            include ./_profile.pug
        section(id="projects" class="l-content-section projects")
            include ./_projects.pug
        section#contact(class="l-content-section contact-info")
            include ./_contact.pug
        footer.footer
            span #[small &copy;] 2018 John Chritton
        script(type="text/javascript" src="js/bundle.js")