@mixin flex-cent-r() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-cent-c() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin mobile-break() {
  @media screen and (min-width: 900px) {
    @content;
  }
}
