@mixin flex-cent-r() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-cent-c() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
*    Media query mixins
*/

// Mobile sized
@mixin xs() {
  @media screen and (max-width: 475px) {
    @content;
  }
}

// Tablet sized
@mixin sm() {
  @media screen and (max-width: 800px) {
    @content;
  }
}

// Larger tablet and small laptop
@mixin md() {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

// Larger laptop, small desktop
@mixin lg() {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

// Larger desktop
@mixin xl() {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
