/* Colors */

$white: #fdfff7;
$aqua: #59ffa0;
$yellow: #ffed65;
$slate: #1e1e1d;
$icon-purple: #7063cc;
$indigo: #151230;
$dark-indigo: darken($indigo, 4%);
$dark-glass: rgba(10, 10, 10, 0.4);

/* Constant Values */

$radius: 10px;
$nav-space: 3rem;
