*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

body {
    background: url("../images/temple.svg") repeat, $indigo;
    overflow-x: hidden;
    color: $white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
  height: 2.5rem;
}

footer {
    background: $dark-indigo;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}