/*
*    Primary responsive navigation bar component
*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: $dark-indigo;
  border-bottom: 1px solid $icon-purple;
  transition: transform 0.4s;
}

.navbar__logo {
  max-height: 2.5rem;
  max-width: 100%;
  padding: 0 0.2rem;
}

.navbar__links {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s;
  position: absolute;
  right: 3rem;
  top: -0.3rem;
  transform: scaleX(0);
  transform-origin: right;
}

.navbar__anchor {
  padding: 1rem;

  &:hover,
  :active {
    color: $aqua;
  }
}

/* Mobile menu toggle button */

.navbar__toggle {
  padding: 0 1rem;
}

#navbar__mobile {
  &:checked ~ .navbar__links {
    transform: scaleX(1);
  }

  &:checked ~ .socialside {
    transform: scaleY(1);
  }
}
