/*
*    Primary responsive navigation bar component
*/

.navbar {
  background: $dark-indigo;
  border-bottom: 1px solid $icon-purple;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar__logo {
  max-height: 95%;
  max-width: 100%;
  padding: 0 0.2rem;
}

.navbar__menu {
  height: $nav-space;
  position: relative;
  width: $nav-space;
}

.navbar__links {
  @include flex-cent-r;
  bottom: 0;
  flex-wrap: nowrap;
  position: absolute;
  right: $nav-space;
  top: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;

  @include mobile-break {
    right: 0;
    transform: none;
  }
}

.navbar__anchor {
  font-weight: 700;
  padding: 1rem 0.5rem;

  &:hover,
  :active {
    color: $aqua;
  }

  @include mobile-break {
    padding: 1rem;
  }
}

/* Mobile menu toggle button */

.navbar__toggle {
  @include flex-cent-c;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  @include mobile-break {
    display: none;
  }
}

#navbar__mobile {
  &:checked ~ .navbar__links {
    transform: scaleX(1);
  }

  &:checked ~ .socialside {
    transform: scaleY(1);
  }
}
