.skills__group {
  @include flex-cent-r;
  flex-wrap: wrap;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.skills__group--visible {
  transform: translateY(0%);
}

.skills__icon {
  border-radius: $radius;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;

  img {
    width: 5rem;
  }

  &:after {
    @include flex-cent-r;
    background-color: $dark-glass;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    bottom: 0;
    color: $white;
    content: attr(data-tech);
    font-size: 1.2rem;
    font-weight: 900;
    left: 0;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(100%);
    transition: transform 0.3s;
  }

  &:hover {
    background-color: $dark-indigo;
    &:after {
      transform: translateY(0%);
    }
  }
}
