/*
*    Sidebar social icon navigation component
*/

.socialside {
  @include flex-cent-c;
  background: $dark-indigo;
  border-bottom: 1px solid $icon-purple;
  border-bottom-left-radius: $radius;
  border-left: 1px solid $icon-purple;
  position: fixed;
  right: 0;
  top: $nav-space;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
  z-index: 10;

  @include mobile-break {
    border: 1px solid $icon-purple;
    border-top-left-radius: $radius;
    top: 35vh;
    transform: scaleX(1);
  }
}

.socialside__link {
  color: $icon-purple;
  flex: 1;
  font-size: 1.6rem;
  padding: 0.6rem;
  transition: transform 0.3s;

  @include mobile-break {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  &:hover,
  :active {
    color: $white;
    transform: scale(1.05);
  }
}
