/*
*    Main title banner header component
*/

.title-banner {
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  &__name,
  &__role {
    padding: 0.5rem 1rem;
  }
}

.title-banner__name {
  color: $aqua;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

.title-banner__role {
  color: $white;
  font-size: 1.8rem;
  padding: 1rem;
}
