.project-view__thumb {
  grid-area: thumb;
}

.project-view__links {
  grid-area: links;
}

.project-view__tech {
  grid-area: tech;
}

.project-view__desc {
  grid-area: desc;
}

.project-view__tile {
  display: grid;
  grid-auto-rows: minmax(3rem, auto);
  grid-template-areas:
    'thumb thumb thumb thumb desc desc desc desc'
    'thumb thumb thumb thumb desc desc desc desc'
    'thumb thumb thumb thumb desc desc desc desc'
    'thumb thumb thumb thumb desc desc desc desc'
    'thumb thumb thumb thumb desc desc desc desc'
    'links links links links tech tech tech tech';
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

@include xs {
  .project-view__tile {
    grid-template-areas:
      'title title title title title title'
      'thumb thumb thumb thumb links links'
      'thumb thumb thumb thumb links links'
      'thumb thumb thumb thumb links links'
      'thumb thumb thumb thumb links links'
      'tech tech tech tech tech tech'
      'desc desc desc desc desc desc'
      'desc desc desc desc desc desc'
      'desc desc desc desc desc desc'
      'desc desc desc desc desc desc';
    grid-template-columns: repeat(6, 1fr);
  }
}

.portrait-pic {
  align-self: flex-start;
  grid-area: port;
}

.mn-map {
  grid-area: map;
  justify-self: center;
}

.email-button {
  grid-area: email;
}

.contact-links {
  align-self: flex-start;
  grid-area: social;
}

#contact {
  display: grid;
  grid-auto-rows: minmax(3rem, auto);
  grid-template-areas:
    'head head head head head head head head'
    'port port social social social social map map'
    'port port social social social social map map'
    'port port social social social social map map'
    'port port social social social social map map'
    'port port social social social social email email';
  grid-template-columns: repeat(8, 1fr);

  h3 {
    align-self: flex-start;
    grid-area: head;
    padding: 0;
  }
}
