/*
*   CSS Grid style definitions
*/

// navbar component (components/_navbar.scss)

.navbar {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 1fr max-content;
  grid-template-rows: $nav-space;
}

.navbar__logo {
  grid-column: 1;
}

.navbar__menu {
  grid-column: 3 / -1;
}

// welcome module (modules/_welcome.scss)

.welcome {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
}

// title-banner component (components/_title-banner.scss)

.title-banner {
  grid-row: 2;
}

// skills component (components/_skills.scss)

.skills {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr max-content 1fr;
}

.skills__view {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  justify-content: center;
}

.skills__group {
  grid-column: 1 / -1;
  grid-row: 1;
}

.skills__menu {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 25%));
}

// profile module (modules/profile.scss)

.profile-info {
  display: grid;
  grid-template-columns: minmax(max-content, 5rem) 1fr;
  grid-template-rows: 100%;
}

.profile-info__menu {
  grid-column: 1;
  grid-row: 1 / -1;
}

.profile-info__content {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

// projects module (modules/_projects.scss)

.projects {
  display: grid;
  grid-template-areas:
    'header header header header'
    'title title title title'
    'tile tile tile tile'
    'tech tech tech tech'
    'links links links links';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem max-content 80% 3rem max-content;
}

.projects__tabs {
  grid-area: header;
}

.projects__title {
  grid-area: title;
}

.projects__tile {
  display: grid;
  grid-area: tile;
  grid-template-areas:
    'thumb thumb thumb'
    'desc desc desc';
  grid-template-rows: 15rem max-content;
}

.projects__thumb {
  grid-area: thumb;
}

.projects__desc {
  grid-area: desc;
}

.projects__links {
  grid-area: links;
}

.projects__tech {
  grid-area: tech;
}

// contact module (modules/_contact.scss)

.contact-info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(3, max-content);
}

.contact-info__title {
  grid-column: 1 / -1;
  grid-row: 1;
}

.contact-info__portrait {
  grid-column: 2;
  grid-row: 2;
}

.contact-info__desc {
  grid-column: 1;
  grid-row: 2;
}

// socialbot component (components/_socialbot.scss)

.socialbot {
  grid-column: 1 / -1;
  grid-row: 3;
}
