img(class="portrait-pic" src="./images/portrait-pic.jpg")
h3 It would be my pleasure to make your next project incredible!
div.contact-links
    a(class="l-icon-labeled" href="https://github.com/JaxomofRuatha")
        i(class="fa fa-github")
        span GitHub
    a(class="l-icon-labeled" href="https://www.linkedin.com/in/john-w-chritton/")
        i(class="fa fa-linkedin")
        span LinkedIn
    a(class="l-icon-labeled" href="https://twitter.com/jaxwhitedragon")
        i(class="fa fa-twitter")
        span Twitter
    a(class="l-icon-labeled" href="https://www.freecodecamp.com/jaxomofruatha")
        i(class="fa fa-free-code-camp")
        span Free Code Camp
    a(class="l-icon-labeled" href="https://go.twitch.tv/jaxomofruatha")
        i(class="fa fa-twitch")
        span Twitch
img(class="mn-map" src="./images/minneapolis.jpg")