div(class="top-bar")
    img(src="./images/logodragonlong.svg")
    nav(class="flex-cent")
        a(class="nav-item" href="#welcome-section") Home
        a(class="nav-item" href="#profile") Profile
        a(class="nav-item" href="") Projects
        a(class="nav-item" href="") Contact