div(class="top-bar")
    img(src="./images/logodragonlong.svg")
    i(class="fa fa-bars")
    nav(class="flex-cent")
        a(class="nav-item" href="#welcome-section") Home
        a(class="nav-item" href="#profile") Profile
        a(class="nav-item" href="#projects") Projects
        a(class="nav-item" href="#contact") Contact