header
    img(src="./images/logodragonlong.svg")
    nav(class="nav-menu")
        input(id="mobile-nav" type="checkbox")
        label(for="mobile-nav" class="nav-menu-toggle")
            span
        ul(class="nav-links")
            li
                a(href="#welcome-section") Home
            li
                a(href="#profile") Profile
            li
                a(href="#projects") Projects
            li
                a(href="#contact") Contact
        include ./_socialicons.pug