header
    img(src="./images/logodragonlong.svg")
    nav(id="nav-menu")
        div(class="nav-menu-toggle")
            span
        ul(id="nav-links")
            li
                a(href="#welcome-section") Home
            li
                a(href="#profile") Profile
            li
                a(href="#projects") Projects
            li
                a(href="#contact") Contact