div(class="project-tabs top-tabs")
    a(class="flex-cent tab-active" data-target="#tile-portfolio") Portfolio Site
    a(class="flex-cent" data-target="#tile-top2") Quote Machine
    a(class="flex-cent" data-target="#tile-top3") React Local Weather
    a(class="flex-cent" data-target="#tile-top4") Microservices
    a(class="flex-cent" data-target="#tile-top5") Bmore Around Town
    a(class="flex-cent" data-target="#tile-top6") Speller
    a(class="flex-cent" data-target="#tile-top7") Markdown Previewer
div(class="project-carousel")
    div(class="project-tile project-active" id="tile-portfolio")
        div(class="project-thumb")
        h2 Speller.c
        div(class="flex-cent project-links")
            a(class="l-icon-labeled" href="#")
                i(class="fa fa-github")
                span Code
            a(class="l-icon-labeled" href="#")
                i(class="fa fa-cogs")
                span Demo
        div.project-tech
            span C
            span Data Structures
            span Algorithms
        div.project-desc
            span(style="color: #FFED65") Status: &nbsp;
            span First iteration complete and functional
            p The last project in Harvard CS50 done with C, this program takes a dictionary, creates a trie from the data, and allows spell checking text documents against the provided dictionary.
    div(class="project-tile" id="tile-top2")
        div(class="project-thumb")
        h2 React Quote Machine
        div(class="flex-cent project-links")
            a(class="l-icon-labeled" href="#")
                i(class="fa fa-github")
                span Code
            a(class="l-icon-labeled" href="#")
                i(class="fa fa-cogs")
                span Demo
        div.project-tech
            span React
            span styled-components
            span REST API/AJAX
        div.project-desc
            span(style="color: #FFED65") Status: &nbsp;
            span First iteration complete and functional
            p An application fulfilling the user stories from the Free Code Camp front end project "Build a Random Quote Machine." I chose to make this open-ended project my introduction to using the React framework
div(class="project-tabs bottom-tabs")
    a(class="flex-cent" data-target="#tile-bottom1") Wikipedia Viewer
    a(class="flex-cent" data-target="#tile-bottom2") Whack a Mole
    a(class="flex-cent" data-target="#tile-bottom3") Bikeshare Mapper
    a(class="flex-cent" data-target="#tile-bottom4") Freeform Vote
    a(class="flex-cent" data-target="#tile-bottom5") Twitch Dashboard
    a(class="flex-cent" data-target="#tile-bottom6") JavaScript Calculator