div(class="l-content-section profile-content")
    div
        h3 Education
        h4 University of Wisconsin - Green Bay
        p
            em B.A. -- Psychology, Social Change and Development, History
        p Member of first place team for competition presenting analysis of designed experiment test group
        p Active member of Psi Chi Honors Society
        p Section editor for school newspaper “The Fourth Estate” Staff member for Sheepshead Review writing journal
        p Key contributor and organizer for three extracurricular clubs
        p Volunteer provider of technical support for campus library.
        h4 Coursework
        p
            em CS50: Introduction to Computer Science -- Harvard University
        p Full online version of Harvard course through edx.org, working through projects in C, Python, and JavaScript.
    div
        h3 Profile and Direction
        p I am very excited to bring my vision and passion to life through detailed and responsive web development projects aimed to inspire. My background in psychology and gift for creating simple yet pleasurable user experiences brings a unique approach to applications.
        p Currently I am refining my abilities with HTML, CSS, and JavaScript, with the eventual goal of mastering React and React Native to allow a fully immersive user experience no matter what their platform.
        p I would be glad to make your goal my goal. Let's partner to make your project the solution you deserve!
        button Resume