div(class="l-content-section skill-icons")
  h3 Skills and Technologies
  div.top-box
      div(class="tech-section visible-tile" id="web-dev")
          img(src="./images/techicons/htmlicon.svg")
          img(src="./images/techicons/css3icon.svg")
          img(src="./images/techicons/reacticon.svg")
          img(src="./images/techicons/reduxicon.svg")          
          img(src="./images/techicons/sassicon.svg")
          img(src="./images/techicons/jqueryicon.svg")
          img(src="./images/techicons/bootstrapicon.svg")
      div(class="tech-section" id="core-lang")
          img(src="./images/techicons/cicon.svg")
          img(src="./images/techicons/jsicon.svg")
          img(src="./images/techicons/javaicon.svg")
          img(src="./images/techicons/pythonicon.svg")
      div(class="tech-section" id="db-server")
          img(src="./images/techicons/nodejsicon.svg")
          img(src="./images/techicons/expressicon.svg")
          img(src="./images/techicons/mongodbicon.svg")
          img(src="./images/techicons/mysqlicon.svg")
          img(src="./images/techicons/postgresqlicon.svg")
          img(src="./images/techicons/sasicon.svg")
      div(class="tech-section" id="tools")
          img(src="./images/techicons/giticon.svg")
          img(src="./images/techicons/npmicon.svg")
          img(src="./images/techicons/mochaicon.svg")
          img(src="./images/techicons/jesticon.svg")
          img(src="./images/techicons/gulpicon.svg")
          img(src="./images/techicons/linuxicon.svg")
  div(class="skill-tabs")
      a(class="tab-active" data-target="#web-dev") Web Development
      a(data-target="#core-lang") Core Languages
      a(data-target="#db-server") Database and Server
      a(data-target="#tools") Other Tools