div(class="socialicons")
    a(href="https://github.com/JaxomofRuatha")
        i(class="fa fa-github")
    a(href="https://www.linkedin.com/in/john-w-chritton/")
        i(class="fa fa-linkedin")
    a(href="https://twitter.com/jaxwhitedragon")
        i(class="fa fa-twitter")
    a#profile-link(href="https://www.freecodecamp.com/jaxomofruatha")
        i(class="fa fa-free-code-camp")
    a(href="https://go.twitch.tv/jaxomofruatha")
        i(class="fa fa-twitch")