doctype html
html
    head
        title Portfolio - John Chritton
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./css/reset.css")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
        link(rel="icon" href="./images/logoicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    body
        header
            include ./components/navbar.pug
            section#welcome
                include ./components/welcomebanner.pug
        main
            section(class="content-section" id="profile")
                include ./components/skilltabs.pug
                include ./components/profile.pug
            section(class="content-section" id="projects")
                include ./components/projects.pug
            section(class="content-section" id="contact")
                include ./components/contact.pug
        footer.flex-cont-centered
            p #[small &copy;]  2017 John Chritton &nbsp; &nbsp; &nbsp; &nbsp; {find me on:} &nbsp; &nbsp;
            img(src="./images/wpicon.svg")
            img(src="./images/youtubeicon.svg")
            img(src="./images/twitchicon.svg")
        script(type="text/javascript" src="./js/scripts.js")