doctype html
html
    head
        title Portfolio - John Chritton
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
        link(rel="icon" href="./images/logoicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    body
        div(class="top-bar")
            img(src="./images/logodragonlong.svg")
            nav(class="nav")
                a(class="nav-item" href="") Home
                a(class="nav-item" href="") Profile
                a(class="nav-item" href="") Projects
                a(class="nav-item" href="") Contact
        div(class="view-container")
            div(class="welcome-banner")
                h1 John Chritton
                h2 {Full stack software developer} 
            div(class="social-icons")
                img(src="./images/githubicon.svg")
                img(src="./images/linkedinicon.svg")
                img(src="./images/twittericon.svg")
                img(src="./images/fccicon.svg")
                img(src="./images/twitchicon.svg")
        script(type="text/javascript" src="./js/scripts.js")