doctype html
html
    head
        title Portfolio - John Chritton
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
        link(rel="icon" href="./images/logoicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    body
        div(class="top-bar")
            img(src="./images/logodragonlong.svg")
            nav(class="flex-cent")
                a(class="nav-item" href="#welcome-section") Home
                a(class="nav-item" href="#profile") Profile
                a(class="nav-item" href="") Projects
                a(class="nav-item" href="") Contact
        div(class="social-icons")
            a(href="https://github.com/JaxomofRuatha")
                i(class="fa fa-github")
            a(href="https://www.linkedin.com/in/john-w-chritton/")
                i(class="fa fa-linkedin")
            a(href="https://twitter.com/jaxwhitedragon")
                i(class="fa fa-twitter")
            a#profile-link(href="https://www.freecodecamp.com/jaxomofruatha")
                i(class="fa fa-free-code-camp")
            a(href="https://go.twitch.tv/jaxomofruatha")
                i(class="fa fa-twitch")
        header#welcome-section
            div(class="welcome-background")
            div(class="welcome-banner frame-home")
                h1 John Chritton
                h2 {Full stack software developer}
        section#profile
            div(class="l-content-section skill-icons")
                h3 Skills and Technologies
                div.top-box
                    div(class="flex-cent tech-section visible-tile" id="web-dev")
                        img(src="./images/htmlicon.svg")
                        img(src="./images/css3icon.svg")
                        img(src="./images/reacticon.svg")
                        img(src="./images/sassicon.svg")
                        img(src="./images/jqueryicon.svg")
                        img(src="./images/bootstrapicon.svg")
                    div(class="flex-cent tech-section" id="core-lang")
                        img(src="./images/cicon.svg")
                        img(src="./images/jsicon.svg")
                        img(src="./images/javaicon.svg")
                        img(src="./images/pythonicon.svg")
                    div(class="flex-cent tech-section" id="db-server")
                        img(src="./images/nodejsicon.svg")
                        img(src="./images/expressicon.svg")
                        img(src="./images/mongodbicon.svg")
                        img(src="./images/mysqlicon.svg")
                        img(src="./images/postgresqlicon.svg")
                        img(src="./images/sasicon.svg")
                    div(class="flex-cent tech-section" id="tools")
                        img(src="./images/giticon.svg")
                        img(src="./images/npmicon.svg")
                        img(src="./images/mochaicon.svg")
                        img(src="./images/gulpicon.svg")
                        img(src="./images/linuxicon.svg")
                div(class="flex-cent skill-tabs bottom-tabs")
                    a(class="tab-active" data-target="#web-dev") Web Development
                    a(data-target="#core-lang") Core Languages
                    a(data-target="#db-server") Database and Server
                    a(data-target="#tools") Other Tools
            div(class="profile-content l-content-section")
                div
                    h3 Education
                    h4 University of Wisconsin - Green Bay
                    p
                        em B.A. -- Psychology, Social Change and Development, History
                    p Member of first place team for competition presenting analysis of designed experiment test group, member of Psi Chi Honors Society, Section editor for school newspaper “The Fourth Estate,” Staff member for Sheepshead Review writing journal, Key contributor and organizer for three extracurricular clubs, Volunteer provider of technical support for campus library.
                    h4 Coursework
                    p
                        em CS50: Introduction to Computer Science -- Harvard University
                    p Full online version of Harvard course through edx.org, working through projects in C, Python, and JavaScript.
                div
                    h3 Profile and Direction
                    p I am very excited to bring my vision and passion to life through detailed and responsive web development projects aimed to inspire. My background in psychology and gift for creating simple yet pleasurable user experiences brings a unique approach to applications.
                    p Currently I am refining my abilities with HTML, CSS, and JavaScript, with the eventual goal of mastering React and React Native to allow a fully immersive user experience no matter what their platform.
                    p I would be glad to make your goal my goal. Let's partner to make your project the solution you deserve!
                    button Resume
        section#projects.l-content-section
            div(class="project-tabs top-tabs")
                a(class="flex-cent tab-active" data-target="#tile-portfolio") Portfolio Site
                a(class="flex-cent" data-target="#tile-top2") Quote Machine
                a(class="flex-cent" data-target="#tile-top3") React Local Weather
                a(class="flex-cent" data-target="#tile-top4") Bikeshare Mapper
                a(class="flex-cent" data-target="#tile-top5") Bmore Around Town
                a(class="flex-cent" data-target="#tile-top6") Speller
                a(class="flex-cent" data-target="#tile-top7") Whack a Mole
            div(class="project-tile" id="tile-portfolio")
                div(class="project-thumb")
                    h2 Speller.c
                    img(src="../images/thumbnails/spellerthumb.jpg")
                    div(class="project-links")
                        a(href="#")
                            i(class="fa fa-github")
                            span Code
                        a(href="#")
                            i(class="fa fa-cogs")
                            span Demo
                div.project-tech
                    span C | Data Structures | Algorithms
                    span Status: First iteration complete and functional
                div.project-desc
                    p The last project in Harvard CS50 done with C, this program takes a dictionary, creates a trie from the data, and allows spell checking text documents against the provided dictionary.
            div(class="project-tabs bottom-tabs")
                a(class="flex-cent" data-target="#tile-bottom1") Wikipedia Viewer
                a(class="flex-cent" data-target="#tile-bottom2") Markdown Previewer
                a(class="flex-cent" data-target="#tile-bottom3") Microservices
                a(class="flex-cent" data-target="#tile-bottom4") Freeform Vote
                a(class="flex-cent" data-target="#tile-bottom5") Twitch Dashboard
                a(class="flex-cent" data-target="#tile-bottom6") JavaScript Calculator
        section#contact.l-content-section
            div.contact-title
                h3 Get in Contact
            div.contact-main
                div.contact-buttons
                div.contact-location
        footer

        script(type="text/javascript" src="/js/bundle.js")