.section-contact {
    max-height: 80vh;
}

.portrait-pic {
    max-height: 15rem;
}
.mn-map {
    max-height: 13rem;
}

.contact-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    font-size: 1.2rem;
    a {
        width: 15rem;
        transition: all 1s;
        .fa-github {
            color: #2dba4e;
            &:hover {
                color: $slate;
            }
        }
        &:hover {
            border-left: 3px solid $yellow;
            background: #2dba4e;
            color: $slate;
        }
    }
}

.email-button {
    align-self: center;
    justify-self: center;
    button {
        background: transparent;
        color: $white;
        border: 1px solid $aqua;
        border-radius: 5px;
    }
}