.contact-info {
  position: relative;
}

.contact-info__portrait {
  grid-row: 1 / -1;
  max-height: 10rem;
}

.contact-info__map {
  max-height: 13rem;
}

.contact-info__social {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  position: absolute;
  top: -2.5rem;
  width: 100%;
}

.contact-info__email {
  background: red;
  border-radius: 50%;
  color: $white;
  margin-right: 1rem;
  padding: 1rem;
}

.contact-info__link {
  color: $white;
  font-size: 1.3rem;
  overflow: hidden;
  width: 5rem;

  &:after {
    color: $white;
    content: '  Whatever';
    display: none;
    font-size: 1.2rem;
    white-space: pre;
  }

  &:hover::after {
    display: block;
  }

  .fa-github {
    background: #2dba4e;
    padding: 0.5rem;
  }

  .fa-linkedin {
    background: #0077b5;
    padding: 0.5rem;
  }

  .fa-twitter {
    background: #00aced;
    padding: 0.5rem;
  }

  .fa-free-code-camp {
    background: #006400;
    padding: 0.5rem;
  }

  .fa-twitch {
    background: #6441a4;
    padding: 0.5rem;
  }
}

.contact-info__slug {
  font-size: 2rem;
}
