.contact-info {
  position: relative;
}

.contact-info__portrait {
  max-height: 10rem;
}

.contact-info__social {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  margin: 1rem 0 1rem -1rem;
}

.contact-info__email {
  background: $dark-indigo;
  border-radius: 10px;
  color: orangered;
  padding: 1.5rem;
}

.contact-info__link {
  background: $dark-indigo;
  flex: 1;
  font-size: 1.3rem;
  position: relative;
  transition: flex 0.3s;

  &:hover {
    flex: 2;
  }

  i {
    padding: 0.3rem 0.5rem;
    width: 100%;
  }

  i:after {
    color: $white;
    display: none;
    font-size: 1.2rem;
    white-space: pre;
  }

  i:hover::after {
    display: inline;
  }

  .fa-github {
    color: #2dba4e;

    &:after {
      content: '  Github';
    }
  }

  .fa-linkedin {
    color: #0077b5;

    &:after {
      content: '  LinkedIn';
    }
  }

  .fa-twitter {
    color: #00aced;

    &:after {
      content: '  Twitter';
    }
  }

  .fa-free-code-camp {
    color: #006400;

    &:after {
      content: '  Free Code Camp';
    }
  }

  .fa-twitch {
    color: #6441a4;

    &:after {
      content: '  Twitch';
    }
  }
}

.contact-info__slug {
  font-size: 2rem;
}
