.navbar {
  background: $dark-indigo;
  border-bottom: 1px solid $icon-purple;
}

.navbar__logo {
  max-height: 2.3rem;
  max-width: 10rem;
  padding: 0 1rem;
}

.navbar__links {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  transition: transform 0.3s;
}

.navbar__anchor {
  color: $white;
  padding: 1rem;
  transition: padding 0.2s;

  &:hover,
  :active {
    color: $aqua;
  }
}

// Mobile menu toggle button
.navbar__toggle {
  display: none;
  position: absolute;
  right: 1rem;
  top: 50%;

  span {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    user-select: none;
    width: 1.2rem;

    &::before,
    &::after {
      background: $white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: transform 0.5s ease-out;
      width: 100%;
    }

    &::before {
      top: 5px;
    }

    &::after {
      top: -5px;
    }
  }

  input[type='checkbox']:checked ~ .navbar__toggle {
    span {
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

@include sm {
  .navbar__links {
    position: absolute;
    right: 3rem;
    top: -0.3rem;
    transform: scaleX(0);
    transform-origin: right;
  }

  #navbar__mobile {
    &:checked ~ .navbar__links {
      transform: scaleX(1);
    }

    &:checked ~ .socialicons {
      transform: scaleY(1);
    }
  }

  .navbar__toggle {
    display: inline-block;
  }
}

@include xs {
  .navbar__logo {
    display: none;
  }
}

@media screen and (max-width: 335px) {
  .navbar__anchor {
    padding: 1rem 0.5rem;
  }
}
