/*
*   Informational, non-skill article of Profile section.
*/

// Navigation component

.profile-info__menu {
  @include flex-cent-c;
  border-right: 1px solid $icon-purple;
  height: 100%;
}

.profile-info__tab {
  display: block;
  height: 100%;
  padding: 1rem;
  width: 100%;

  i {
    pointer-events: none;
  }

  &:after {
    color: $white;
    content: attr(data-label);
    display: block;
    font-weight: 700;
  }

  &:hover {
    color: $aqua;
    &:after {
      color: $yellow;
    }
  }
}

.profile-info__tab--active {
  color: $aqua;
}

.profile-info__content {
  opacity: 0;
  padding-left: 1rem;
  transition: opacity 0.5s;
}

.profile-info__content--visible {
  opacity: 1;
}
