.project-view__tile {
  background: $dark-glass;
  opacity: 0;
  position: absolute;
}

.project-view__thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.project-view__links {
  @include flex-cent-r;
  background: $slate;
  border-bottom-left-radius: 10px;
  opacity: 0;
}

.project-view__code,
.project-view__demo {
  align-items: center;
  color: $white;
  padding: 0.5rem;

  &:hover,
  :active {
    color: $yellow !important;
  }
}

.project-view__code:before {
  content: '\f09b\0020\0020\0020';
  font-family: FontAwesome;
  white-space: pre;
}

.project-view__demo:before {
  content: '\f085\0020\0020\0020';
  font-family: FontAwesome;
  white-space: pre;
}

.project-view__tech {
  align-items: center;
  background: $slate;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  opacity: 0;

  span {
    color: $aqua;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.project-view__desc {
  margin: 2rem;
  text-align: center;

  p {
    text-align: justify;
    text-indent: 2rem;
  }
}

.project-view__tile--active,
.project-view__links--active,
.project-view__tech--active {
  opacity: 1;
}

.project-view__thumb[data-group='live-1'] {
  background-image: url('../images/thumbnails/portfoliothumb.png');
}

.project-view__thumb[data-group='live-2'] {
  background-image: url('../images/thumbnails/quotethumb.JPG');
}

.project-view__thumb[data-group='live-3'] {
  background-image: url('../images/thumbnails/weatherthumb.png');
}

.project-view__thumb[data-group='live-4'] {
  background-image: url('../images/thumbnails/expressmicrothumb.png');
}

.project-view__thumb[data-group='live-5'] {
  background-image: url('../images/thumbnails/markdownthumb.png');
}

.project-view__thumb[data-group='live-6'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='live-7'] {
  background-image: url('../images/thumbnails/spellerthumb.jpg');
}

.project-view__thumb[data-group='wip-1'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='wip-2'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='wip-3'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='wip-4'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='wip-5'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

.project-view__thumb[data-group='wip-6'] {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}
