.project-view__tile {
  background: $dark-glass;
  opacity: 0;
  position: absolute;
}

.project-view__thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.project-view__links {
  @include flex-cent-r;
  background: $slate;
  border-bottom-left-radius: 10px;
  opacity: 0;
}

.project-view__code,
.project-view__demo {
  align-items: center;
  color: $white;

  &:hover {
    color: $yellow;
  }
}

.project-view__code:before {
  content: '\f09b';
  font-family: FontAwesome;
}

.project-view__demo:before {
  content: '\f085';
  font-family: FontAwesome;
}

.project-view__tech {
  align-items: center;
  background: $slate;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  opacity: 0;

  span {
    color: $aqua;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.project-view__desc {
  margin: 1rem;
  text-align: center;

  p {
    text-align: justify;
    text-indent: 2rem;
  }
}

.project-view__tile--active,
.project-view__links--active,
.project-view__tech--active {
  opacity: 1;
}

#live-1 .project-view__thumb {
  background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#live-2 .project-view__thumb {
  background-image: url('../images/thumbnails/quotethumb.JPG');
}

#live-3 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-4 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-5 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-6 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-7 .project-view__thumb {
  background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#wip-1 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-2 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-3 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-4 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-5 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}
