.project-view__tile {
  background: $indigo;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}

.project-view__thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
  overflow: hidden;
}

.project-view__links {
  @include flex-cent-r;

  & > a {
    @include flex-cent-r;
    color: $white;

    &:hover {
      color: $yellow;
    }
  }
}

.project-view__tech {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  span {
    color: $aqua;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.project-view__desc {
  background: $slate;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  right: 0;

  p {
    text-align: justify;
    text-indent: 3rem;
  }
}

.project-active {
  opacity: 1;
}

#live-1 .project-view__thumb {
  background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#live-2 .project-view__thumb {
  background-image: url('../images/thumbnails/quotethumb.JPG');
}

#live-3 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-4 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-5 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-6 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#live-7 .project-view__thumb {
  background-image: url('../images/thumbnails/spellerthumb.jpg');
}

#wip-1 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-2 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-3 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-4 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}

#wip-5 .project-view__thumb {
  background-image: url('http://via.placeholder.com/320x200?text=Preview+coming+soon!');
}
