.profile-info {
  p {
    padding: 0 2rem;
    text-align: left;
  }
}

.profile-info__menu {
  @include flex-cent-c;
  border-right: 1px solid $icon-purple;

  a {
    color: $white;
    padding: 1rem;
  }
}

.profile-info__content {
  opacity: 0;
}

.profile-info__tab--active {
  color: $aqua;
}

.profile-info__content--visible {
  opacity: 1;
}
