.skills__tab--active {
  background-color: $yellow !important;
  color: $slate;
  font-weight: bold;
}

.skills__view {
  overflow: hidden;
}

.skills__group {
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
}

.skills__group--visible {
  transform: translateY(0%);
}

.skills__icon {
  max-width: 6.5rem;
  padding: 0.5rem;
  flex: 33.33%;
}

.skills__menu {
  height: 2.5rem;
}

.skills__tab {
  @include flex-cent-r;
  background: $slate;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid $yellow;
  font-size: 1.1rem;
  height: 100%;
  text-align: center;
  z-index: 3;

  &:hover,
  :active {
    background-color: lighten($slate, 4%);
    transition: background-color 0.3s;
  }
}
