.socialicons {
  @include flex-cent-c;
  background: $dark-indigo;
  border: 1px solid $icon-purple;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0 0.5rem;
  position: fixed;
  right: 0;
  top: 35vh;
  z-index: 10;

  .socialicons__link {
    color: $icon-purple;
    flex: 1;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    transition: transform 0.3s;

    &:hover,
    :active {
      color: $white;
      transform: scale(1.1);
    }
  }
}

@include sm {
  .socialicons {
    border-bottom-left-radius: 0;
    border-top: none;
    border-top-left-radius: 0;
    overflow: hidden;
    top: 2.45rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
  }
}
